<script type="text/javascript" src="/js/jquery-min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/instafeed.min.js"></script>
<script type="text/javascript" src="/js/portfolio.js"></script>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script> -->
<!-- 
 <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ&callback=initMap"
  ></script> -->
<!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
<!-- <script type="text/javascript" src="/js/map.js"></script> -->
